.cart-sidebar {
  border-left: 1px solid #000;
  height: 80vh;
}

.cart-products {
  overflow: scroll;
  max-height: 80vh;
  border-bottom: 1px #000 solid;
}

.Cart {
  margin-top: 40px;
}

.Cart img {
  margin-top: 20px;
  height: 250px;
}

.Cart h1 {
  font-size: 35px;
}

.Cart h2 {
  font-size: 20px;
}

.Cart h4 {
  font-size: 14px;
}

.Cart h5 {
  font-size: 14px;
}
